<h3>Games players can join:</h3>
<% @games.each do |game|  %>
  <div class="list-group">
    <div class="list-group-item">
      <% if game.player_missing? %>
        <h4>
          <%= game.game_name %>
        </h4>
        <%= link_to 'Join Game', game_path(game, id: game.id), method: :patch, :class => 'btn btn-success btn-large join-game-link' %>
      <% end  %>
      <br />
      <br />
    </div>
  </div>
<% end %>

<h3>Future list of games players can watch??</h3>