<h1>Available games:</h1>
<% @games.each do |game|  %>
  <div class="list-group">
    <div class="list-group-item">
      <% if game.player_missing? %>
        <h4>
          <%= game.game_name %>
        </h4>
        <%= link_to 'Join Game', game_path(game, id: game.id), method: :patch, :class => 'btn btn-success btn-large join-game-link' %>
      <% else %>
        <h2>
          No game available...
        </h2>
        <%= link_to 'Create Game', new_game_path, class: 'btn btn-success btn-large' %>
      <% end  %>
    </div>
  </div>
<% end %>
