<br />
<br />
<div class="row">
<div class="col-md-6 col-md-offset-3 text-center">
    <h3>Future Home Of the Fall Gambit Chess App!</h3>
    <br />
    <% if @games.present? %>
      <%= render partial: 'available_games' %>
    <% else %>
      <h2>
        No games available...
      </h2>
      <%= link_to 'Create Game', new_game_path, class: 'btn btn-success btn-large' %>
    <% end %>
  </div>
</div>
