<br />
<br />
<div class="row">
<div class="col-md-6 col-md-offset-3 text-center">
    <h3>Future Home Of the Fall Gambit Chess App!</h3>
    <br />
    <%= render "available_games" %>
  </div>
</div>
