<br />
<br />
<div class="row">
<div class="col-md-6 col-md-offset-3 text-center">
    <h2>Welcome to the Fall Gambit Chess App!</h2>
    <br />
    <%= link_to 'Start A New Game', new_game_path, class: 'btn btn-success btn-large' %>
    <br />
    <br />
    <% if @games.present? %>
      <%= render partial: 'available_games' %>
    <% end %>
  </div>
</div>
<%= subscribe_to "/"%>
