<br />
<br />
<div class="row">
  <h3 class ="text-center">Promote Your Pawn</h3>
  <div class="col-md-2 col-md-offset-5">
    <%= simple_form_for @piece, :url => promote_pawn_piece_path do |f| %>
      <%= f.collection_radio_buttons :piece_type, @button_list, label: 'Promote to:', class: 'form-control' %>
      <br />
      <%= f.submit "Promote!", :class => 'btn btn-primary' %>
      <br />
    <% end %>
    <br />
  </div>
</div>
