<% if current_game %>
<br />
<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3><%= current_game.game_name %></h3>
    <br />
    <br />
  </div>
</div>
<table class="chessboard">
  <% (0..7).each do |row| %>
    <tr class="x-position-<%= row %>" >
      <% (0..7).each do |column| %>
        <% find_piece = current_game.pieces.find { |f| f["x_position"] == column && f["y_position"] == row } %>
        <%= place_piece_td(find_piece, column, row).html_safe %>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
