<% if current_game %>
<br />
<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3><%= current_game.game_name %></h3>
    <br />
    <% if current_game.user_turn == current_user.id %>
      <h4 class="turn-indicator">It is your turn!</h4>
    <% elsif current_game.user_turn.nil? %>
      <h4 class="turn-indicator">Waiting for another player to join...</h4>
    <% else  %>
      <h4 class="turn-indicator">It is your opponent's turn</h4>
    <% end %>
    <br />
  </div>
</div>
<table class="chessboard">
  <% (0..7).to_a.reverse.each do |row| %>
    <tr class="y-position-<%= row %>" >
      <% (0..7).each do |column| %>
        <%= place_piece_td(row, column).html_safe %>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
